<div class="container">
  <h4>マイページ</h4>
  <div class="row mt-3">
    <div class="col-xs-12 col-md-8">
      <h4>登録情報</h4>
    </div>
    <div class="col-xs-12 col-md-2">
      <%= link_to "編集する", edit_customers_path(@customer),class:"btn btn-success" %>
    </div>
      </div>
     <div class="row mt-4">
       <div class="col-10">
         <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>氏名</th>
            <td><%= @customer.last_name + @customer.first_name %></td>
          </tr>
          <tr>
            <th>フリガナ</th>
            <td><%= @customer.last_name_kana + @customer.first_name_kana %></td>
          </tr>
          <tr>
            <th>郵便番号</th>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <th>性別</th>
            <td><% if @customer.gender == true %>
                <span style="color: blue">男性</span>
                <% else %>
                <span style="color: red">女性</span>
                <% end %>
            </td>
          </tr>
        </thead>
      </table>
       </div>
     </div>
      <table class="table table-borderless">
        <tr>
          <th>配送先</th>
          <td><%= link_to "一覧を見る",address_index_path,class:"btn btn-primary"  %></td>
        </tr>
        <tr>
          <th>注文履歴</th>
          <td><%= link_to "一覧を見る",orders_path,class:"btn btn-primary" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>