<div class="container" style="min-height: 500px;">
  <div class="row">
    <div class="col-10">
      <table class="table table-borderless">
        <tr>
          <td>お名前</td>
          <td><%= @contact.name %></td>
        </tr>
        <tr>
          <td>問い合わせ内容</td>
          <td><%= @contact.message %></td>
        </tr>
      </table>

      <%= form_with model: @contact, local: true do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :phone_number %>
        <%= f.hidden_field :subject %>
        <%= f.hidden_field :message %>
        <div><%= f.submit '送信',class: "btn  btn-success" %></div>
      <% end %>
      <div class="row mt-5">
      <%= form_with model: @contact, url:new_contact_path, local: true do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :phone_number %>
        <%= f.hidden_field :subject %>
        <%= f.hidden_field :message %>
        <%= link_to "入力画面に戻る", new_contact_path,class: "btn btn-sm btn-danger" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
