<div class="container" style="min-height: 500px;">
  <div class="row">
    <div class="col-10">
      <table class="table table-borderless">
          <tr>
            <td>お名前</td>
            <td><%= @contact.name %></td>
          </tr>
          <tr>
            <td>問い合わせ内容</td>
            <td><%= @contact.message %></td>
          </tr>

      </table>

      <%= form_with model:@contact, local: true do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :phone_number %>
        <%= f.hidden_field :subject %>
        <%= f.hidden_field :message %>
        <div><%= f.submit '送信' %></div>
      <% end %>
      <%= form_with model: @contact, url: new_contact_path do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :phone_number %>
        <%= f.hidden_field :subject %>
        <%= f.hidden_field :message %>
        <div><%= f.submit '入力画面に戻る' %></div>
      <% end %>
    </div>
  </div>
</div>
