
<div class="container">
  <h4>商品詳細</h4>
  <div class="row">
    <div class="col-md-4">
      <%= attachment_image_tag @item, :image, format: 'jpeg',size: "250x200"  %>
      <%#= attachment_image_tag list, :image, :fill, 100, 100, format: 'jpeg' %>
      <%#= attachment_image_tag @product, :image, format: 'jpeg',size: "250x200" %>
    </div>
    <div class="col-md-8">
      <table>
        <tr>
          <th>商品名</th>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <th>税込価格</br>
          (税抜価格)
          </th>
          <td><%= @item.price %>
              <%= @item.price*1.1.floor %>
          </td>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <td><% if @item.is_active == true %>
              <span style="color: green">販売中</span>
              <% else %>
              <span style="color: gray">在庫切れ</span>
              <% end %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td><%= link_to "編集する",edit_admin_item_path(@item),class:"btn btn-success" %></td>
        </tr>

      </table>
    </div>
  </div>
</div>