<div class="container" style="min-height: 400px;">
<h2>管理者ログイン</h2>
<p class="alert"><%= flash[:alert] %></p>
 <div class="row">
  <div class="col-8">
   <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
     <table class="table table-borderless">
      <tr>
       <th><%= f.label :メールアドレス %></th>
       <td><%= f.email_field :email, autofocus: true, autocomplete: "email",:size=>"40",placeholder:"sample@gmail.com" %></td>
      </tr>
      <tr>
       <th><%= f.label :パスワード %></th>
       <td><%= f.password_field :password, autocomplete: "current-password",:size=>"40" %></td>
      </tr>
      <tr>
       <th></th>
       <td style="padding-top: 20px"><%= f.submit "ログイン",class:"btn btn-primary" %></td>
      </tr>
     </table>
    <% end %>
    </div>
   </div>
   <h3>※管理者しかログインできません※</h3>

  </div>