<div class="container">
  <div class="row">
    <div class="col-6">
      <table class="table table-borderless">
        <tr>
          <th>購入者</th>
          <td><%= @order.name %></td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime("%Y年%m月%d日") %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>〒<%= @order.postal_code %>
              <%= @order.address %></br>
              <%= @order.name %>
          </td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <%= form_with model: @order,url: admin_order_path, local: true do |f| %>
        <tr>
          <th>注文ステータス</th>
          <td><%= f.select :status, Order.statuses.keys.to_a %>

              <%#= f.select :status, options_for_select([['入金待ち', "waiting_for_payment"], ['入金確認', "payment_confirmation"], ['製作中', "production"], ['発送準備中', "ready_to_ship"],['発送済み',"sent"]], { :selected => @order.status }) %>
              <%= f.submit "更新",class:"btn btn-success" %>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table table-borderless">
        <thead class="thead-dark">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
          </tr>
          <% @sum = 0 %>
          <% @order.order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.tax_price %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.tax_price * order_detail.amount %></td>
            <% @sum += order_detail.tax_price * order_detail.amount %>
            <%= form_with model:order_detail,url:admin_order_detail_path(order_detail),local: true do |f| %>
            <td><%#= f.select :making_status, Order_detail.making_status.keys %>
            <%# binding.pry%>
                <%#= f.select :making_status, options_for_select([['制作不可', 0], ['制作待ち', 1], ['製作中', "production"], ['製作完了', "production_completed"]], { :selected => order_detail.making_status }) %>

                <%= f.select :making_status, OrderDetail.making_statuses.keys.to_a %>
                <%= f.submit "更新",class:"btn btn-success" %>
            </td>
            <% end %>
          </tr>
          <% end %>
        </thead>
      </table>
    </div>
    <div class="col-4">
      <table class="table table-borderless">
        <tr>
          <th>商品合計</th>
          <td><%= @sum %></td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= shipping_cost %></td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <td><%= @sum + shipping_cost %></td>
        </tr>
      </table>
    </div>
  </div>
</div>