<div class="container">
  <h4>注文情報入力</h4>
  <div class="row">
    <%= form_with model: @order,url: orders_verification_path, local: true do |f| %>
    <div class="col-12">
      <table class="table table-borderless">
        <tr>
          <th>支払方法</th>
          <td><%= f.radio_button :payment_method, 0 %>クレジットカード</br>
              <%= f.radio_button :payment_method, 1 %>銀行振込
          </td>
        </tr>
        <tr>
          <th>お届け先</th>
          <td><%= radio_button_tag :delivery, 0 %>ご自身の住所</br>
               〒<%= current_customer.postal_code %>
               <%= current_customer.address %></br>
               <%= current_customer.last_name + current_customer.first_name %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td><%= radio_button_tag :delivery, 1 %>登録済住所から選択</br>
              <%= collection_select(:address, :id, @addresses, :id, :address ) %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= radio_button_tag :delivery, 2 %>新しいお届け先</td>
        </tr>
        <tr>
          <th>郵便番号(ハイフンなし)</th>
          <td><%= f.text_field :postal_code,placeholder: "0000000" %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= f.text_field :address,:size=>"60",placeholder: "東京都中央区銀座6丁目10-1" %></td>
        </tr>
        <tr>
          <th>宛名</th>
          <td><%= f.text_field :name,placeholder: "令和太郎" %></td>
        </tr>
      </table>
    </div>
   </div>
   <div class="row">
    <div class="col-5">
    </div>
    <div class="col-5">
      <%= f.submit "確認画面へ進む",class:"btn btn-primary" %>
    </div>
    </div>

    <% end %>

</div>