<div class="container">
  <h4>注文情報入力</h4>
  <div class="row">
    <%= form_with model: @order,url: orders_verification_path, local: true do |f| %>
    <div class="col-12">
      <div class="form-row">
        <div class="form-group col-12">
          <%= f.label :支払方法 %></br>
          <%= f.radio_button :payment_method, 0 %>クレジットカード
          <%= f.radio_button :payment_method, 1 %>銀行振込
        </div>
        <div class="form-group col-12">
          <%= f.label :お届け先 %></br>
          <%= radio_button_tag :delivery, 0 %>ご自身の住所
          〒<%= current_customer.postal_code %>
            <%= current_customer.address %>
          <%= current_customer.last_name + current_customer.first_name %>
        </div>
        <div class="form-group col-12">
          <%= radio_button_tag :delivery, 1 %>登録済住所から選択</br>
          <%= collection_select(:address, :id, @addresses, :id, :address ) %>
        </div>
        <div class="form-group col-xs-12 col-md-10">
          <%= radio_button_tag :delivery, 2 %>新しいお届け先
          <%= f.label :郵便番号 %>(ハイフンなし)
          <%= f.text_field :postal_code,class: :"form-control",placeholder:"1234567" %>
        </div>
        <div class="form-group col-xs-12 col-md-10">
          <%= f.label :住所 %>
          <%= f.text_field :address,class: :"form-control",placeholder:"東京都中央区銀座6丁目10-1" %>
        </div>
        <div class="form-group col-xs-12 col-md-10">
          <%= f.label :宛名 %>
          <%= f.text_field :name,class: :"form-control",placeholder: "令和太郎" %>
        </div>
        <%= f.submit "確認画面へ進む",class:"btn btn-primary" %>
      </div>
     </div>
    <% end %>
  </div>
</div>