<div class="container">
  <h4>注文情報確認</h4>
  <div class="row mt-5">
    <div class="col-8">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <% @sum = 0 %>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= attachment_image_tag cart_item.item, :image, :fill,200,80 %>
                <%= cart_item.item.name %>
            </td>
            <td><%= cart_item.item.with_tax_price %></td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.subtotal %></td>
            <% @sum += cart_item.subtotal %>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-4">
       <table class="table table-bordered">
         <thead class="thead-dark">
           <tr>
             <th>送料</th>
             <td><%= shipping_cost %></td>
           </tr>
           <tr>
             <th>商品合計</th>
             <td><%= @sum %></td>
           </tr>
           <tr>
             <th>請求金額</th>
             <td><%= @sum + shipping_cost %></td>
           </tr>
         </thead>
       </table>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table table-borderless">
        <tr>
          <th>支払方法</th>
          <th><%= @order.payment_method_i18n %></th>
        </tr>
        <tr>
          <th>お届け先</th>
          <th>〒<%= @order.postal_code %>
              <%= @order.address %>
          </th>
        </tr>
        <tr>
          <th></th>
          <th><%= @order.name %></th>
          </tr>
        </tr>
      </table>
    </div>
  </div>
</div>
<%= form_with model: @order,url:orders_path, local: true do |f| %>
   <!--支払方法-->
   <%= f.hidden_field :payment_method, :value => @order.payment_method %>
   <!--送料-->
   <%= f.hidden_field :shipping_cost, :value => shipping_cost %>
   <!--郵便番号-->
   <%= f.hidden_field :postal_code, :value => @order.postal_code %>
   <!--住所-->
   <%= f.hidden_field :address, :value => @order.address %>
   <!--名前-->
   <%= f.hidden_field :name, :value => @order.name %>
   <!--請求金額-->
   <%= f.hidden_field :total_payment, :value => @sum + shipping_cost %>
   <div class="order">
     <%= f.submit "注文を確定する",class:"btn btn-success" %>
   </div>

<% end %>