<div class="container">
  <div class="row">
    <%= render 'public/homes/BRAND', items: @items %>
      <div class="col-xs-12 col-md-4">
        <%= attachment_image_tag @item, :image, :fill,300,300 %>
        <% if @item.favorited_by?(current_customer) %>
          <p>
            <%= link_to item_favorite_path(@item), method: :delete do %>
              ♥<%= @item.favorites.count %> いいね
            <% end %>
          </p>
        <% else %>
         <p>
          <%= link_to item_favorites_path(@item), method: :post do %>
            ♡<%= @item.favorites.count %> いいね
          <% end %>
         </p>
        <% end %>
      </div>
      <% if @cart_item.errors.any? %>
       <%= @cart_item.errors.count %>件のエラーが発生しました
        <% @cart_item.errors.full_messages.each do |message| %>
         <%= message %>
        <% end %>
      <% end %>
      <div class="col-xs-12 col-md-6">
        <%= form_with model: @cart_item,url:cart_items_path(@cart_item), local: true do |f| %>
          <div class="form-row">
           <div class="form-group col-xs-12 col-md-12">
            <%= f.label :name,"商品名",style: "background: linear-gradient(transparent 70%, #a7d6ff 70%);" %><br />
            <%= @item.name %>
            <%= f.hidden_field :item_id, :value => @item.id %>
           </div>
           <div class="form-group col-xs-12 col-md-12">
            <%= f.label :name,"商品説明",style: "background: linear-gradient(transparent 70%, #a7d6ff 70%);" %><br />
            <%= @item.introduction %>
           </div>
           <div class="form-group col-xs-12 col-md-8">
            <%= f.label :お値段,style: "background: linear-gradient(transparent 70%, #a7d6ff 70%);" %>
            ￥<%= @item. with_tax_price %>(税込)
           </div>
           <div class="form-group col-xs-12 col-md-8">
            <%= f.select :amount, *[1..10],include_blank: "個数選択" %>
    　　   　 </div>
    　　   　 <div class="form-group col-xs-12 col-md-8">
            <%= f.submit "カートに入れる",class:"btn btn-success" %>
    　　   　 </div>
          </div>
        <% end %>
      </div>
  </div>

  <div class="row">
    <div class="col-10">
     <h4 class="font-weight-bolder">レビューを書く</h4>
      <div class="errors">
       <% if @review.errors.any? %>
        <%= @review.errors.count %>件のエラーが発生しました<br />
        <% @review.errors.full_messages.each do |message| %>
         <%= message %><br />
        <% end %>
       <% end %>
      </div>
      <%= form_with model: @review, url: item_reviews_path(@item), local: true do |f| %>
       <label>評価：<span id="rating-form"></label>
       <%= f.text_area :comment, rows:'5', placeholder: "商品のコメント", class: "form-control form-control-sm" %>
       <div class="search">
        <%= f.submit "投稿する" %>
       </div>
     <% end %>
    </div>
  </div>
  <div class="row mx-auto mt-3">
   <div class="col-10">
    <h4 class="font-weight-bolder">カスタマーレビュー</h4>
    <% @item.reviews.each do |review| %>
     <div class="review-rating">評価：<span id="rate_<%= review.id %>"></span></div>
     <div class="text-left">
      <p>投稿者：<%= review.customer.last_name + review.customer.first_name %></p>
      <p><%= review.comment %></p>
     </div>
     <div class="text-right">
      <p>
       投稿日：<%= review.created_at.strftime('%Y/%m/%d') %>
       <% if review.customer == current_customer %>
        <%= link_to "コメント削除",  item_review_path(item_id: @item.id, id: review.id), method: :delete, class: "btn btn-sm btn-danger"  %>
       <% end %>
      </p>
     </div>
    <% end %>
   </div>
  </div>

  <script>
    $('#rating-form').raty({
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        scoreName: 'review[rate]'
    });
    <% @item.reviews.each do |review| %>
    $('#rate_<%= review.id %>').raty({
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        readOnly: true,
        score: <%= review.rate %>
    });
    <% end %>
  </script>
</div>
