<div class="container">
  <div class="row">
    <div class="col-2">
      <table>
        <tr>
         <th>BRAND</th>
        </tr>
        <tr>
          <td>nekozita</td>
        </tr>
      </table>
    </div>
    <div class="col-4">
      <%= form_with model: @cart_item,url:cart_items_path(@cart_item), local: true do |f| %>
      <%= attachment_image_tag @item, :image, :fill,300,300 %>
    </div>
    <div class="col-6">
      <%#= form_with model: @item, local: true do |f| %>

       <%= @item.name %></br>
       <%= f.hidden_field :item_id, :value => @item.id %>
       <%= @item.introduction %></br>
      ￥<%= @item. with_tax_price %>(税込)</br>

      <%= f.select :amount, *[1..10],include_blank: "個数選択" %>
      <%= f.submit "カートに入れる",class:"btn btn-success" %>
      <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <% if @item.favorited_by?(current_customer) %>
    <p>
      <%= link_to favorites_path(@item), method: :delete do %>
        ♥<%= @item.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to favorites_path(@item), method: :post do %>
        ♡<%= @item.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
  </div>
  <div class="row">
  <div>
    <p>コメント件数：<%= @item.post_comments.count %></p>
       <<%= @post_comment.comment %>
  </div>
<div>
<%= form_with model: @post_comment,url:post_comments_path(@post_comment), local: true do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>
  </div>
  <% @post_comments.each do |post_comment| %>
   <%= post_comment.comment %>
  <% end %>
</div>